.iqs-event-templates-panel {
    .pip-ref-title {
        height: 48px;
        min-height: 48px;
    }
    .pip-ref-title {
        md-icon {
            width: 48px;
            height: 48px;
            margin-right: 16px;
        }
    }
}